name: Build Unity WebGL & Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read   # Permission pour le checkout (lecture)
  pages: write     # Permission pour le déploiement sur GitHub Pages (écriture)
  id-token: write  # Nécessaire pour l'authentification OIDC de l'action de déploiement

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}

jobs:
  build:
    name: Build WebGL
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Mise en cache de la librairie Unity
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Libération d'espace disque
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Build Unity WebGL
        uses: game-ci/unity-builder@v4
        with:
          targetPlatform: WebGL
          buildName: WebGL

      - name: Upload du Build vers Pages
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: build/WebGL/WebGL
          
  deploy:
    name: Deploy to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Déploiement natif sur GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4